
    body {
      margin: 0;
      padding: 0;
      background: #f0f4f8;
      font-family: 'Segoe UI', sans-serif;
    }

    .form-container {
    max-width: 450px;
    margin: 120px auto 80px; /* top | left/right | bottom */
    background: #fff;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


    .form-container h2 {
      text-align: center;
      margin-bottom: 30px;
      font-size: 28px;
      color: #333;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-group label {
      display: block;
      margin-bottom: 8px;
      color: #444;
      font-weight: bold;
    }

    .form-group input {
      width: 100%;
      padding: 12px 15px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
      outline: none;
      transition: border 0.3s ease;
    }

    .form-group input:focus {
      border-color: #00bcd4;
    }

    .submit-btn {
      width: 100%;
      background-color: #00bcd4;
      color: white;
      padding: 14px;
      font-size: 18px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .submit-btn:hover {
      background-color:  rgb(1, 1, 46);
    }